@using SQLElearner.Models
@model Course
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Hello " +  User.Identity.Name;
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

@if (Request.IsAuthenticated)
{
    <div>
        <p>
            Welcome to the 
            @using (var context = new CourseDbContext())
            {
                foreach (var course in context.Courses)
                {
                    @course.CourseName;
                }
            }
        </p>
    </div>
}
else
{
    <div>
        <p>
            Please @Html.ActionLink("SIGN UP", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }) Or
            @Html.ActionLink("LOG IN", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) to be able to start the course!
        </p>
    </div>
}

