@using SQLElearner.Models
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;

@model Course

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Request.IsAuthenticated)
{
    var manager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
    var currentUser = manager.FindById(User.Identity.GetUserId());

    {
        ViewBag.Title = "Hello " + currentUser.FirstName.ToUpper();
    }
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <div>
        <p>
            Welcome to the 
            @using (var context = new CourseDbContext())
            {
                foreach (var course in context.Courses)
                {
                    @course.CourseName;
                }
            }
        </p>
    </div>
    <div>
        <table>
            <tr>
                @using (var context = new CourseDbContext())
                {
                    foreach (var topic in context.Topics)
                    {
                        <td>@topic.TopicName;</td>
                    }
                }
            </tr>
        </table>
        
    </div>
}
else
{
    {
        ViewBag.Title = "Start Course";
    }
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <div>
        <p>
            Please @Html.ActionLink("SIGN UP", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }) Or
            @Html.ActionLink("LOG IN", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) to be able to start the course!
        </p>
    </div>
}

