@model IEnumerable<object>
@{
    List<Elearner.Models.Course> lstCourses = Model.ToList()[0] as List<Elearner.Models.Course>;
    List<Elearner.Models.CourseTopic> lstCourseTopics = Model.ToList()[1] as List<Elearner.Models.CourseTopic>;
    List<Elearner.Models.UserTopic> lstUserTopics = Model.ToList()[2] as List<Elearner.Models.UserTopic>;
    List<Elearner.Models.UserTopicSection> lstUserTopicSections = Model.ToList()[3] as List<Elearner.Models.UserTopicSection>;
    List<Elearner.Models.CourseTopicSection> lstCourseTopicSections = Model.ToList()[4] as List<Elearner.Models.CourseTopicSection>;
}
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@using Elearner.Models

@{
    ViewBag.Title = "Course Topics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- jQuery code for progress bar % calculation -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script>
    $(function () {
        $('.progressbar').each(function () {
            var val = $(this).attr('rel');
            $(this).progressbar({ value: parseInt(val) });
        });
    });
</script>

<div class="container">    

    @if (User.Identity.IsAuthenticated)
    {
        <br />
        <br />

        <h3>
            @foreach (var c in lstCourses)
            {
                @Html.DisplayFor(modelItem => c.CourseName);
            }
        </h3>

        <table class="table-hover col-lg-12">
            <tr>
                <th>
                    <h4>Topic</h4>
                </th>
                <th>
                    <h4>Progress</h4>
                </th>
                <th>

                </th>
            </tr>
            @foreach (var ct in lstCourseTopics)
            {

                <tr>
                    <td width="25%">
                        @Html.DisplayFor(modelItem => ct.Topic.TopicName)
                    </td>
                    <td width="50%">
                        @if (lstUserTopicSections.Where(uts => uts.CourseTopicSection.CourseTopicId == ct.CourseTopicId).Count() == 0)
                        {
                            <div class="progressbar" style="text-align:center" rel="0">
                                <span style="position:absolute; margin-left:10px; margin-top:2px"><strong class="text-info">0 %</strong></span>
                            </div>
                        }
                        else
                        {
                            double percentage = (double)lstUserTopicSections.Where(uts => uts.CourseTopicSection.CourseTopicId == ct.CourseTopicId).Count() / (double)lstCourseTopicSections.Where(cts => cts.CourseTopicId == ct.CourseTopicId).Count() * 100;
                            <div class="progressbar" style="text-align:center" rel="@percentage">
                                <span style="position:absolute; margin-left:10px; margin-top:2px"><strong class="text-info">@percentage %</strong></span>
                            </div>
                        }                        
                    </td>
                    @if (lstUserTopics == null || lstUserTopics.Count() == 0)
                    {
                        if ((lstCourseTopics.Min(mct => mct.TopicOrder) == ct.TopicOrder))
                        {
                            <td width="25%" style="padding:5px 5px 5px 5px">
                                <button class="btn btn-xs btn-info" type="button" id="enrollCourse" onclick="location.href='@Url.Action("Create", "EnrollTopic", new { id = ct.CourseTopicId })'">
                                    LEARN
                                </button>
                            </td>
                        }
                        else
                        {
                            if (ct.Topic.TopicType.TopicTypeName.Equals("Quiz"))
                            {
                                <td width="25%" style="padding:5px 5px 5px 5px">
                                    <button class="btn btn-xs btn-info" type="button" id="enrollCourse" onclick="location.href='@Url.Action("Create", "EnrollTopic", new { id = ct.CourseTopicId })'" disabled>
                                        TAKE QUIZ
                                    </button>
                                </td>
                            }
                            else
                            {
                                <td width="25%" style="padding:5px 5px 5px 5px">
                                    <button class="btn btn-xs btn-info" type="button" id="enrollCourse" onclick="location.href='@Url.Action("Create", "EnrollTopic", new { id = ct.CourseTopicId })'" disabled>
                                        LEARN
                                    </button>
                                </td>
                            }
                        }
                    }
                    else
                    {
                        if (lstUserTopics.Any(ut => ut.CourseTopicId.Equals(ct.CourseTopicId) && ut.Id == User.Identity.GetUserId()))
                        {
                            if (lstUserTopics.Any(ut => ut.CourseTopicId.Equals(ct.CourseTopicId) && ut.Id == User.Identity.GetUserId() && ut.Completed == true))
                            {
                                <td width="25%" style="padding:5px 5px 5px 5px">
                                    <button type="button" class="btn btn-xs btn-success" id="enrollCourse" onclick="location.href='@Url.Action("Create", "EnrollTopic", new { id = ct.CourseTopicId })'">
                                        <span class="glyphicon glyphicon-check"></span> Completed
                                    </button>
                                </td>
                            }
                            else
                            {
                                if (ct.Topic.TopicType.TopicTypeName.Equals("Quiz"))
                                {
                                    <td width="25%" style="padding:5px 5px 5px 5px">
                                        <button class="btn btn-xs btn-info" type="button" id="enrollCourse" onclick="location.href='@Url.Action("Create", "EnrollQuiz", new { id = ct.CourseId, user = User.Identity.GetUserId() })'">
                                            TAKE QUIZ
                                        </button>
                                    </td>
                                }
                                else
                                {
                                    <td width="25%" style="padding:5px 5px 5px 5px">
                                        <button class="btn btn-xs btn-info" type="button" id="enrollCourse" onclick="location.href='@Url.Action("Create", "EnrollTopic", new { id = ct.CourseTopicId })'">
                                            LEARN
                                        </button>
                                    </td>
                                }
                            }
                        }
                        else
                        {
                            if (ct.Topic.TopicType.TopicTypeName.Equals("Quiz"))
                            {
                                <td width="25%" style="padding:5px 5px 5px 5px">
                                    <button class="btn btn-xs btn-info" type="button" id="enrollCourse" onclick="location.href='@Url.Action("Create", "EnrollTopic", new { id = ct.CourseTopicId })'" disabled>
                                        TAKE QUIZ
                                    </button>
                                </td>
                            }
                            else
                            {
                                <td width="25%" style="padding:5px 5px 5px 5px">
                                    <button class="btn btn-xs btn-info" type="button" id="enrollCourse" onclick="location.href='@Url.Action("Create", "EnrollTopic", new { id = ct.CourseTopicId })'" disabled>
                                        LEARN
                                    </button>
                                </td>
                            }
                        }
                    }
                </tr>
            }
        </table>
    }
    else
    {
        <br />
        <br />

        <h3>
            @foreach (var c in lstCourses)
            {
                @Html.DisplayFor(modelItem => c.CourseName);                
            }
        </h3>

        <h4>
            @foreach (var c in lstCourses)
            {
                @Html.DisplayFor(modelItem => c.CourseInformation);
            }
        </h4>

        <h5>The topics covering this course are:</h5>

        foreach (var ct in lstCourseTopics)
        {
            <div class="caption-centred">
                <div class="caption-content">                    
                    <h5>@ct.TopicOrder. @ct.Topic.TopicName</h5>
                    <div class="caption-content">
                        @ct.Topic.TopicInformation
                    </div>                    
                </div>
            </div>
        }
    }    
</div>

<div class="container">
@if (User.Identity.IsAuthenticated)
{
    <button class="btn btn-s btn-default" type="button" id="enrollTopicSection" onclick="location.href='@Url.Action("Index", "Home")#user_course'">
        < Go Back
    </button>
}
else
{
    <button class="btn btn-s btn-info" type="button" onclick="location.href='@Url.Action("Index", "Home")#courses'">
        < Go Back
    </button>
}
</div>
