@model IEnumerable<object>
@{   
    PagedList.IPagedList<Elearner.Models.CourseTopicSection> lstCourseTopicSection = Model.ToList()[0] as PagedList.IPagedList<Elearner.Models.CourseTopicSection>;
    List<Elearner.Models.UserTopicSection> lstUserTopicSection = Model.ToList()[1] as List<Elearner.Models.UserTopicSection>;
}

@using PagedList.Mvc;
@using PagedList;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@using Elearner.Models

@{
    ViewBag.Title = "Course Topic Sections";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    @foreach (var courseTopicSection in lstCourseTopicSection)
    {
        //var currentSection = lstUserTopicSection.Find(f => f.CourseTopicSectionId == courseTopicSection.CourseTopicSectionId).CourseTopicSectionId;
        var currentSection = lstUserTopicSection.Find(f => f.CourseTopicSectionId == lstUserTopicSection.Max(m => m.CourseTopicSectionId));
        var studyingSection = lstUserTopicSection.Find(f => f.CourseTopicSectionId == lstUserTopicSection.Max(m => m.CourseTopicSectionId) & f.Completed == false);

        <div class="row">
            <h2>
                @courseTopicSection.CourseTopicSectionName
            </h2>
            <div>
                <div class="row col-md-10">
                    <h3>Lesson</h3>
                    @courseTopicSection.TopicSectionText
                </div>
            </div>
            <div>
                <div class="row col-md-10">
                    <h4>Instruction</h4>
                    @courseTopicSection.TopicSectionInstruction
                </div>
            </div>
            <div>
                <div class="row col-md-12">
                    <h5>Code Editor</h5>
                    @Html.TextArea("SQLCommand","SQL Command: ",10,300, new { rows = 10, columns = 100 })
                </div>
            </div>
            <div>
                <div class="row col-md-10">
                    <p></p>
                        <button class="btn btn-s btn-info" type="button" id="enrollCourse" onclick="location.href='@Url.Action("MarkComplete", "EnrollTopicSection", new {id = currentSection})'">
                            Mark Completed
                        </button>              
                </div>
            </div>            
        </div>
    }
</div>

<br />
Lesson @(lstCourseTopicSection.PageCount < lstCourseTopicSection.PageNumber ? 0 : lstCourseTopicSection.PageNumber) of @lstCourseTopicSection.PageCount

@Html.PagedListPager(lstCourseTopicSection, page => Url.Action("Index", new { page }))