@model IEnumerable<object>
@{   
    List<Elearner.Models.CourseTopicSection> lstCourseTopicSection = Model.ToList()[0] as List<Elearner.Models.CourseTopicSection>;
    List<Elearner.Models.UserTopicSection> lstUserTopicSection = Model.ToList()[1] as List<Elearner.Models.UserTopicSection>;
}
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@using Elearner.Models

@{
    ViewBag.Title = "Course Topic Sections";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

        @if (lstUserTopicSection == null || lstUserTopicSection.Count() == 0)
        {
            if (lstCourseTopicSection.Count() > 0)
            {
                var firstCourseTopicSection = lstCourseTopicSection.Min(m => m.Order);
                @Html.Action("Create", "EnrollTopicSection", new { id = firstCourseTopicSection });
            }
            else
            {
                @Html.Action("Create", "CourseTopicSections");
            }
        }
        else
        {
            var currentSection = lstUserTopicSection.Find(f => f.CourseTopicSectionId == lstUserTopicSection.Max(m => m.CourseTopicSectionId) & f.Completed == false);

            <div class="row">
                @if (lstCourseTopicSection.Any(x => x.CourseTopicSectionId == currentSection.CourseTopicSectionId))
                {
                    <h2>
                        @currentSection.CourseTopicSection.CourseTopicSectionName
                    </h2>

                    <div>
                        
                        <div class="row col-md-10">
                            <h3>Lesson</h3>
                            @currentSection.CourseTopicSection.TopicSectionText
                        </div>
                    </div>
                    <div>
                        
                        <div class="row col-md-10">
                            <h4>Instruction</h4>
                            @currentSection.CourseTopicSection.TopicSectionInstruction
                        </div>
                    </div>
                }
            </div>
        }
</div>
<div class="container">
    <ul class="pager">
        <li><a href="#">Previous</a></li>
        <li><a href="#">Next</a></li>
    </ul>
    
    <ul class="pagination">
        <li><a href="#">«</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li><a href="#">»</a></li>
    </ul>
</div>
